{% extends "base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
{#    <link href="{% static "http://mtitg.com/tecqii/site-media/css/app.css" %}" rel="stylesheet" />#}
    <link href="{% static "http://mtitg.com/tecqii/site-media/css/jqcloud.min.cssbootstrap4-business-tycoon.min.css" %}" rel="stylesheet" />
    <link href="{% static "http://mtitg.com/tecqii/site-media/css/jqcloud.min.cssjqcloud.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/app.css" %}" rel="stylesheet" />
{#    <link href="{% static "css/bootstrap4-business-tycoon.min.css" %}" rel="stylesheet" />#}
{#    <link href="{% static "css/jqcloud.min.css" %}" rel="stylesheet" type="text/css">#}
{% endblock %}


{% block extra_head_base %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="http://mtitg.com/tecqii/site-media/js/jqcloud.min.js"></script>
{#    <script src="{% static "js/jqcloud.min.js" %}"></script>#}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block topbar_base %}
<header>
    <div class="navbar {% block navbar_class %}navbar-expand-lg navbar-dark bg-dark{% endblock %}">
        <div class="container">
        {% block topbar %}
            {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">#}
{#                <span class="fa fa-bars"></span>#}
{#            </button>#}

{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                {% block nav %}#}
{#                    <ul class="navbar-nav mr-auto">#}
{#                        {% block nav_items %}{% comment %}#}
{#                        <li class="nav-item"><a class="nav-link" href="#tab_one">One</a></li>#}
{#                        <li class="nav-item"><a class="nav-link" href="#tab_two">Two</a></li>#}
{#                        {% endcomment %}{% endblock %}#}
{#                    </ul>#}
{#                {% endblock %}#}
{#                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}#}
{#            </div>#}
        {% endblock %}
        </div>
    </div>
</header>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
{#    <script src="http://mtitg.com/tecqii/site-media/js/site.js"></script>#}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
